.faq {
    display: flex;
    flex-direction: column;
    padding: em-calc(65) em-calc(120);
    gap: em-calc(30);

    & .collabsible--content {
        font-size: 1.2em;

        @include only-mobile {
            font-size: 1em;
        }
    }

    @include only-mobile {
        padding: em-calc(20) em-calc(10);
        gap: em-calc(15);
    }
}