.carousel {
    height: em-calc(415);
    background-color: $primary-color;
    border-radius: em-calc(25);
    position: relative;
    overflow: hidden;

    @include only-mobile {
        height: em-calc(255);
    }

    &__wrapper {

        height: 100%;
        width: 100%;

        &>img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }

    }

}

.carousel_controls {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: fit-content;
    top: 50%;
    left: 0px;
    padding: 0px em-calc(20);
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);

    &--arrow {
        border: none;
        background-color: transparent;
        width: em-calc(20);
        font-size: 1.5em;
        cursor: pointer;
        scale: 1;
        transition: scale 0.2s ease;

        &:active {
            scale: 0.8;
            transition: scale 0.2s ease;
        }

        &:first-child {
            rotate: 90deg;
        }

        &:nth-child(2) {
            rotate: -90deg;
        }

        & svg {
            width: 100%;
            height: 100%;
            object-fit: contain;
            fill: $white;
        }
    }
}

.carrousel_pagination {
    position: absolute;
    z-index: 1;
    width: 100%;
    text-align: center;
    bottom: 5%;
    left: 0px;
    color: $white;
}

.location__head {
    margin-top: em-calc(30);
    display: flex;

    @include only-mobile {
        flex-direction: column;
        gap: em-calc(20);
    }

    &-locinfos {

        display: flex;
        flex-direction: column;
        gap: em-calc(7.5);

        &--name {
            color: $primary-color;
            font-weight: $reg-text-weight;
            font-size: 1.75em;

            @include only-mobile {
                font-size: 1.5em;
            }
        }

        &--location {
            color: $primary-color;
            font-weight: $reg-text-weight;
            font-size: 1em;

            @include only-mobile {
                font-size: 0.9em;
            }
        }

        &--tags {
            display: flex;
            gap: em-calc(15);
            margin-top: em-calc(10);

            @include only-mobile {
                gap: em-calc(10);
            }

            &>p {
                background-color: $primary-color;
                color: $white;
                padding: em-calc(5) em-calc(10);
                border-radius: em-calc(10);

                @include only-mobile {
                    font-size: 0.9em;
                }
            }
        }
    }

    &-hostinfos {
        margin-left: auto;
        display: flex;
        flex-direction: column;
        gap: em-calc(5);

        @include only-mobile {
            margin-left: 0px;
            flex-direction: row-reverse;
            align-items: center;
            justify-content: space-between;
        }

        &--name {
            color: $primary-color;
            font-size: 1em;

            @include only-mobile {
                text-align: right;
            }
        }

        &--profil {
            display: flex;
            align-items: center;
            gap: em-calc(15);
            margin-left: auto;

            @include only-mobile {
                margin-left: 0px;
            }
        }

        &--profilpic {
            width: em-calc(60);
            height: em-calc(60);
            min-width: em-calc(60);
            min-height: em-calc(60);
            max-width: em-calc(60);
            max-height: em-calc(60);
            border-radius: em-calc(1000);
            overflow: hidden;

            & img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &--notation {
            display: flex;
            gap: em-calc(12.5);
            margin-top: auto;
            margin-left: auto;

            @include only-mobile {
                margin-top: 0px;
                margin-left: 0px;
            }

            &-star {
                width: em-calc(22.5);

                @include only-mobile {
                    width: em-calc(15);
                }

                &>svg {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    fill: $grey;
                }

                &.filled>svg {
                    fill: $primary-color;
                }
            }
        }
    }
}

.location__collabsibles {
    margin-top: em-calc(30);
    display: flex;
    gap: em-calc(40);

    @include only-mobile {
        flex-direction: column;
        gap: em-calc(20);
    }

    &>article {
        flex: 1;
    }
}