@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

main {
  padding: 0px 2.3529411765em;
  margin-bottom: 3.8235294118em;
  width: 100%;
}

.nav {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 3.8235294118em 2.3529411765em;
}

.nav__logo {
  height: 3.8235294118em;
}
.nav__logo > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.nav__list {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 2.9411764706em;
  font-size: 1.1em;
  list-style: none;
  color: #ff6060;
}
.nav__list--item-link {
  color: inherit;
  text-decoration: none;
}
.nav__list--item-link.active {
  text-decoration: underline;
}

.banner {
  background-color: #ff6060;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5.8823529412em;
  border-radius: 1.4705882353em;
  min-height: 14.7058823529em;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.banner::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.3);
}
.banner--text {
  font-size: 2.75em;
  font-weight: 500;
  color: white;
  position: relative;
  z-index: 1;
}

.footer {
  background-color: black;
  display: flex;
  flex-direction: column;
  gap: 1.7647058824em;
  align-items: center;
  justify-content: center;
  padding: 2.3529411765em;
  color: white;
}

.footer__logo {
  filter: grayscale(1) brightness(5);
  height: 2.9411764706em;
}
.footer__logo > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.is-wrapped {
  max-width: 94.1176470588em;
  margin-left: auto;
  margin-right: auto;
}

.locations-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #F6F6F6;
  gap: 2.3529411765em;
  margin-top: 3.8235294118em;
  padding: 2.3529411765em;
  border-radius: 1.4705882353em;
}
@media screen and (max-width: 950px) {
  .locations-grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 600px) {
  .locations-grid {
    grid-template-columns: 1fr;
  }
}

.locations-card--link {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

.locations-card {
  width: 100%;
  aspect-ratio: 1/1;
  background-color: #ff6060;
  background-size: cover;
  background-position: center;
  border-radius: 0.5882352941em;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  overflow: hidden;
  transform: scale(1);
  transition: all 0.2s ease;
}
.locations-card:hover {
  transform: scale(1.015);
  transition: all 0.2s ease;
}
.locations-card:hover::after {
  opacity: 0.5;
  transition: all 0.2s ease;
}
.locations-card::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0px;
  opacity: 1;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
  transition: all 0.2s ease;
  height: 100%;
  width: 100%;
}
.locations-card--text {
  padding: 1.1764705882em;
  font-size: 1.2em;
  line-height: 1.5em;
  font-weight: 500;
  color: white;
  height: auto;
  position: relative;
  z-index: 1;
}
@media screen and (max-width: 950px) {
  .locations-card--text {
    padding: 0.8823529412em;
  }
}

.error-page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: 1;
}
.error-page--err {
  font-size: 15em;
  font-weight: 700;
  color: #ff6060;
}
.error-page--txt {
  font-weight: 500;
  color: #ff6060;
}
.error-page--link {
  margin-top: 5.8823529412em;
  color: #ff6060;
}

.faq {
  display: flex;
  flex-direction: column;
  padding: 3.8235294118em 7.0588235294em;
  gap: 1.7647058824em;
}

.faq-question {
  cursor: pointer;
}
.faq-question--title {
  background-color: #ff6060;
  color: white;
  font-weight: 500;
  font-size: 1.3em;
  padding: 0.5882352941em 0.8823529412em;
  border-radius: 0.2941176471em;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  gap: 1.1764705882em;
  user-select: none;
}
.faq-question--title .faq-question--toggler {
  width: 1.1764705882em;
  transform: rotate(0deg);
  transition: all 0.2s ease;
}
.faq-question--title .faq-question--toggler svg {
  width: 100%;
  height: 100%;
  object-fit: contain;
  fill: white;
}
.faq-question--text {
  background-color: #F6F6F6;
  transform: translateY(-0.5882352941em);
  padding: 0em 0.8823529412em 0em 0.8823529412em;
  font-size: 1.2em;
  color: #ff6060;
  border-radius: 0.2941176471em;
  max-height: 0px;
  overflow: hidden;
  transition: all 0.2s ease;
  line-height: 1.5em;
}

.faq-question.is-open .faq-question--text {
  padding: 1.7647058824em 0.8823529412em 0.8823529412em 0.8823529412em;
  max-height: 29.4117647059em;
  transition: all 0.2s ease;
}
.faq-question.is-open .faq-question--toggler {
  transform: rotate(180deg);
  transition: all 0.2s ease;
}

/*# sourceMappingURL=main.css.map */
