* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

body {
    font-family: $text-font;
}

main {
    padding: 0px em-calc(40);
    margin-bottom: em-calc(65);
    width: 100%;
}