// Variables de couleurs

$white : white;
$black : black;

// $lighter-grey : #F7F5F4;
// $mobile-lighter-grey : hsl(0, 0%, 95%);

$light-grey: #F6F6F6;
// $grey: #bfbfbf;
// $x-dark-grey: #282828;

$primary-color: #ff6060;
// $light-primary-color: #ffddd4;
// $secondary-color: #412B42;
// $tertiary-color: #625568;
// $lighted-tertiary-color: #b2aab3;

// Polices de caractères

// $display-font: 'DM Serif Display', 'Mulish', Arial, Helvetica, serif;
$text-font: 'Montserrat', Arial, Helvetica, sans-serif;

// Graisses des polices

// $light-text-weight: 300;
$reg-text-weight: 500;
// $semibold-text-weight: 500;
// $bold-text-weight: 600;

// Tailles de caractères

$desktop-text-size : 17px;
$mobile-text-size : 15px;

$normal-text-size : 1em;
$x-large-text-size : em-calc(40);
$large-text-size : em-calc(28);
$medium-text-size : 1.1em;
$small-text-size : em-calc(16);
$x-small-text-size : em-calc(13);
